<!DOCTYPE html>
<html>
<head>
    <title>Chat Example</title>
    <script src="test.js"></script> <!-- Include the client.js file -->
</head>
<body>
    <button id="sendButton">Send Chat</button>
</body>
</html>
