<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/ChatReo/chatReo.css">
</head>
<body>
    <div class = "container">
        <img class = "chatReoSmallFoot" src="/image/ChatReo/chatReoSmallFoot.svg" alt="발바닥아이콘"> 
        <a href="#" class="chatReoBackBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none" alt = "backBtn">
                <path d="M19.6523 8.3273H4.59891L11.1755 2.26145C11.7011 1.77668 11.7011 0.981161 11.1755 0.496391C10.6499 0.0116198 9.8009 0.0116198 9.27531 0.496391L0.394192 8.68777C-0.131397 9.17255 -0.131397 9.95564 0.394192 10.4404L9.27531 18.6318C9.8009 19.1166 10.6499 19.1166 11.1755 18.6318C11.7011 18.147 11.7011 17.3639 11.1755 16.8792L4.59891 10.8133H19.6523C20.3936 10.8133 21 10.254 21 9.57031C21 8.88665 20.3936 8.3273 19.6523 8.3273Z" fill="black"/>
              </svg>
        </a>
        <a href="#" class="chatReoMenuBtn">
            <p class = "chatReoMenuBtnText">MENU</p>
        </a>
        <img class = "chatReoLine" src="/image/ChatReo/chatReoLine.svg" alt = "구분선">

            
        <!--여기부터 채팅컨테이너-->
        <div class = "chattingContainer">
            <input id = "nickName" type="text" placeholder="대화 제목">
            <img class = "chatReoChattingSpaceImg" src="/image/ChatReo/chatReoChattingspace.svg" alt="chatSpace">

            <div class="displayContainer">
                <ul class ="chattingList"></ul>
            </div>

            <input class = "chatReoChattingTextSpace" required type="text" placeholder="채팅을 입력해주세요.">
            <button class = "chatReoChattingBtn">
                <img src="/image/ChatReo/chatReoChattingBtn.svg" alt="chatBtn">
            </button>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/ChatReo/ChatReo.js"></script>
</body>
</html>