<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr.Reo</title>
  <link rel="stylesheet" href="./onboding.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  
  <div class="container">
    <div class="intro-section">
      <img src="onbodingimage/mainlogo.svg" class="mainlogo">
    </div>
    
    <div class="other-sections" style="display: none;">
      <div>
        <img src="onbodingimage/petfoot.svg" alt="이미지" class="petfoot">
        <div class="wrapper">
          <div class="inner">
            <h3 class="h3">안녕하세요?<br>
              닥터 레오에요. 반가워요!
            </h3>
            <p class="p1">저는 당신의 반려동물의 건강 상태를 진단하고<br>
            해당 질병에 대해 도움을 줄 수 있어요.
            </p>
            <img src="onbodingimage/robot.svg" alt="이미지" class="robot1">
          </div>
          <div class="inner">
            <h4 class="h4">필요한 정보가 있다면<br>
            제가 제공해드릴게요.
            </h4>
            <img src="onbodingimage/robot.svg" alt="이미지" class="robot2">
          </div>
          <div class="inner">
            <h4 class="h4_3">이미지 진단 모드에서<br>
              사진을 촬영하거나 업로드하면<br>
              의심되는 질병을<br>
              분석해드릴게요.
            </h4>
            <img src="onbodingimage/robot.svg" alt="이미지" class="robot3">
          </div>
          <div class="inner">
            <h5 class="h5">전문의소견도 받고싶다면,<br>
            질문을 남겨주세요.
            </h5>
            <p class="p2">1일 이내에 답변이 등록됩니다.</p>
            <img src="onbodingimage/robot.svg" alt="이미지" class="robot4">
          </div>
          <div class="inner">
            <h6 class="h6">그동안 대화했던<br>
            여러 내용들을 한눈에<br>
            볼 수 있어요.
            </h6>
            <div>
              <img src="onbodingimage/robot_gif.gif" alt="이미지" class="robot_gif">
              <img src="onbodingimage/shadow.svg" alt="이미지" class="shadow">
            </div>
            <div>
              <form action="/login" method="POST">
                <button type="submit" style="cursor: pointer;">
                  <img src="onbodingimage/startbox.svg" alt="이미지" class="startbox">
                  <img src="onbodingimage/start_h1.svg" alt="이미지" class="start_h1">
                </button>
              </form>
            </div>
          </div>
        </div>
  
        <div>
          <button class="next">
            <img src="onbodingimage/right_page_button.svg" alt="이미지" class="right_button">
          </button>
          <button class="past"> 
            <img src="onbodingimage/left_page_button.svg" alt="이미지" class="left_button">
          </button>
        </div>

        <div>
          <ul class="dots-wrapper">
            <li class="dots" active></li>
            <li class="dots"></li>
            <li class="dots"></li>
            <li class="dots"></li>
            <li class="dots"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $(document).ready(function() {
      const dots = $(".dots-wrapper .dots");
      const dotImages = [
        "url(onbodingimage/page_bar.svg)",
        "url(onbodingimage/page_bar.svg)",
        "url(onbodingimage/page_bar.svg)",
        "url(onbodingimage/page_bar.svg)",
        "url(onbodingimage/page_bar.svg)"
      ];

      let currentPage = 1;
      const maxPage = 5;

      function updateDots() {
        dots.each(function(index) {
          if (index === currentPage - 1) {
            $(this).addClass("active").css("background-image", dotImages[currentPage - 1]);
          } else {
            $(this).removeClass("active").css("background-image", "");
          }
        });
      }

      function goToPage(pageNumber) {
        currentPage = pageNumber;
        $(".wrapper").css("transform", `translateX(-${(currentPage - 1) * 390}px)`);
        updateDots();
        updateButtonsAndStartbox();
      }

      function updateButtonsAndStartbox() {
        if (currentPage === 1) {
          $(".past").hide(); // 1페이지에서는 이전 버튼을 숨깁니다.
          $(".next").show();
          $(".startbox, .start_h1").fadeOut();
        } else if (currentPage === maxPage) {
          $(".past").show();
          $(".next").hide();
          $(".startbox, .start_h1").fadeIn(1000);
        } else {
          $(".past").show();
          $(".next").show();
          $(".startbox, .start_h1").fadeOut();
        }
      }

      $(".next").click(function() {
        currentPage = (currentPage % maxPage) + 1;
        goToPage(currentPage);
      });

      $(".past").click(function() {
        currentPage = ((currentPage - 2 + maxPage) % maxPage) + 1;
        goToPage(currentPage);
      });

      // intro-section이 3초 동안 나타난 후 서서히 사라짐
      $(".intro-section").delay(1000).fadeOut(500, function() {
        // 나머지 부분이 나타난 후 1초 후에 슬라이드 네비게이션 및 이전/다음 버튼을 표시
        $(".other-sections").fadeIn(500, function() {
          $(".dots-wrapper, .next").show();
        });
      });

      updateDots();
      goToPage(currentPage);
    });
  </script>
</body>
</html>
