body {
    background-color: #F5F5F5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* 이미지 이외의 내용 숨기기 */
}

.container {
    position: relative;
    width: 390px;
    height: 796px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    overflow: hidden;
}

.wrapper {
    position: absolute;
    width: 390px;  
    transition: transform 0.5s ease; /* 움직임에 애니메이션 효과 추가 */
}
    
.inner {
    float: left;
    width: 390px;
    height: 796px;
}

.mainlogo {
    width: 199px;
    height: 206px;
    flex-shrink: 0;
    position: absolute;
    top: 285px;
    left: 95px;
}

.petfoot {
    width: 45px;
    height: 42px;
    flex-shrink: 0;
    position: absolute;
    top: 45px;
    left: 172.5px;
}

.robot1 {
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    position: absolute;
    top: 414px;
    left: 58px;
}

.robot2 {
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    position: absolute;
    top: 414px;
    left: 448px;
}

.robot3 {
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    position: absolute;
    top: 414px;
    left: 838px;
}

.robot4 {
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    position: absolute;
    top: 414px;
    left: 1228px;
}

.robot_gif {
    width: 506px;
    height: 394px;
    flex-shrink: 0;
    position: absolute;
    bottom: 3250px;
    left: 1484px;
    z-index: 999;
}

.shadow {
    width: 148px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    bottom: 3260px;
    left: 1680px;
}

.startbox {
    width: 390px;
    height: 102px;
    flex-shrink: 0;
    position: absolute;
    bottom: 3184px;
    left: 1560px;
}

.start_h1 {
    width: 102px;
    height: 26px;
    flex-shrink: 0;
    position: absolute;
    bottom: 3218px;
    left: 1700px;
}

/* 펫톡 */
.h1 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 750;
    line-height: normal; 
    letter-spacing: -1.2px;
    position: absolute; 
    top: 400px; 
    left: 158.5px;
}

/* 반려동물 AI 메디컬 플랫폼 */
.h2 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5px;
    position: absolute; 
    bottom: 366px; 
    left: 95.5px;
}

/* 온보딩 화면 1 굵은 글씨 */
.h3 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.8px;
    position: absolute; 
    top: 180px; 
    left: 75px;
}

/* 온보딩 화면 1 작은 글씨 */
.p1 {
    color: #A1A1A1;
    text-align: center;
    font-family: Pretendard;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.5px;
    position: absolute; 
    top: 270px; 
    left: 47px;
}

/* 온보딩 화면 2 글씨 */
.h4 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 26.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.8px;
    top: -605px; 
    left: 388px;
}

/* 온보딩 화면 3 글씨 */
.h4_3 {
    position: relative;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 26.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.8px;
    top: -1432px; 
    left: 778px;
}

/* 온보딩 화면 4 굵은 글씨 */
.h5 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 26.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.725px;
    position: relative; 
    top: -2222px; 
    left: 1168px;
}

/* 온보딩 화면 4 작은 글씨 */
.p2 {
    color: #A1A1A1;
    text-align: center;
    font-family: Pretendard;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.5px;
    position: relative; 
    top: -2262px; 
    left: 1168px;
}


/* 온보딩 화면 5 큰 글씨 */
.h6 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 26.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.725px;
    position: relative; 
    top: -3052px; 
    left: 1558px;
}

/* "이전", "다음" 버튼 위치 */
.next,
.past {
    background-color: #ffffff;
    border: none; 
    outline: none; 
}

.next {
    position: absolute; 
    top: 414px; 
    right: 15px; 
    transform: translateY(-50%); 
}

.past {
    position: absolute; 
    top: 414px; 
    left: 15px; 
    transform: translateY(-50%); 
}

/* 슬라이드 네비게이션 */
.dots-wrapper {
    position: absolute; 
    top: 100px; 
    left: 175px; 
    transform: translateX(-50%); 
}

ul, li {
    list-style: none;
}

.dots {
    width: 12px;
    height: 12px;
    background-color: #626877;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 100px;
    opacity: 0.9;
}

.dots.active {
    background-image: url(onbodingimage_gif/active_dot_image.png); /* 활성화된 페이지에 바 이미지 추가 */
    background-size: cover;
    opacity: 0.9;
}
