<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./DtReoHome.css">
</head>
<body>
    <div class="container">
        <img src="/DtReoHomeImg/DtReoHomeBigFoot.svg" alt="큰발바닥아이콘" class="DtReoHomeBigFoot">
        <div class="text1">반려동물 AI 메디컬 플랫폼</div>
        <div class="text2">펫톡</div>
        <!--버튼 클래스=ChatWithReoBox 버튼클릭시-href(링크) = '../chatWithReo/chatwithReo.html'로 간다-->
        <button class="ChatWithReoBox" onclick="location.href='../chatWithReo/chatwithReo.html'">
            <img class="ChattingIcon" src="/DtReoHomeImg/DtReoHomeChattingIcon.svg" alt="아이콘">
            <h1 class="FuckingBTNBigText">레오와 대화하기</h1>
            <h1 class="BTNSmallText">챗 레오에게 진단받기</h1>
        </button>

        <button class="HospRecomBox">
            <img class="RecomIcon" src="/DtReoHomeImg/DtReoHospRecomIcon.svg" alt="아이콘">
            <h1 class="BTNBigText">병원 추천</h1>
            <h1 class="BTNSmallText">병원 추천 받기</h1>
        </button>

        <button class="DiagLogBox">
            <img class="DiagLogIcon" src="/DtReoHomeImg/DtReoDiagLogIcon.svg" alt="아이콘">
            <h1 class="BTNBigText">진단 기록</h1>
            <h1 class="BTNSmallText">진단 기록 한눈에 보기</h1>
        </button>

        <button class="ChatListBox">
            <img class="ChatListIcon" src="/DtReoHomeImg/DtReoChattingListIcon.svg" alt="아이콘">
            <h1 class="BTNBigText">대화 목록</h1>
            <h1 class="BTNSmallText">질문 기록 한눈에 보기</h1>
        </button>
    </div>
</body>
</html>